@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: hsl(216, 12%, 8%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    width: 400px;
    height: 420px;
    background-color: hsl(213, 19%, 18%);
    margin: auto 0;
    border-radius: 20px;
    cursor: pointer;
}


.wrapper {
    padding: 30px;
}

.star-circle,
.star-circle-icon {
    width: 50px;
    height: 50px;
    background-color: hsl(216, 12%, 8%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(217, 12%, 63%);
}


.star-circle-icon img {
    margin: auto 0;
}

.wrapper h1 {
    font-weight: 700;
    margin-top: 30px;
    color: #fff;
}

.wrapper p {
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
    color: hsl(217, 12%, 63%);
}

.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.star-circle:hover {
    background-color: hsl(25, 97%, 53%);
    color: #fff;
}

.btn1 {
    color: #fff;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: hsl(25, 97%, 53%);
    border-radius: 20px;
    border: none;
    margin-top: 35px;
    font-weight: 700;
    font-size: 15px;
}

.btn1:hover {
    background-color: #fff;
    color: hsl(25, 97%, 53%);
    font-size: 15px;
    font-weight: 700;
}